#booking-widget .widget-title,
#booking-widget {
  font-size: min(max(16px, 2vw), 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#booking-widget #booking-form .form-group {
  margin: 20px;
  width: 100%;
}
#booking-widget #booking-form .form-group .form-control {
  height: 46px;
  border-radius: 40px;
  border-color: rgba(0, 0, 0, 0.55);
  padding: 3px 12px;
}
#booking-widget #booking-form .form-group label {
  font-size: 18px;
  font-weight: 300;
}

.booking-widget {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #343a40;
    background-color: #ffffff;
  }
}

.booking-widget #language-selector {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 40px;
  padding: 8px 14px;
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.booking-widget #language-selector:focus {
  outline: none;
  border-color: #66afe9;
  -webkit-box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
          box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

.booking-widget .card-header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.booking-widget .time-slot:hover {
  background-color: #f5f5f5;
}

.booking-widget #time-slots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

.booking-widget #party-size,
.booking-widget #time,
.booking-widget #duration {
  height: 36px;
  border: none;
  overflow-y: hidden !important;
  padding: unset;
  outline: unset;
  overflow-x: auto !important;
}
.booking-widget #party-size,
.booking-widget #time,
.booking-widget #duration {
  height: unset;
  white-space: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.booking-widget #party-size label,
.booking-widget #time label,
.booking-widget #duration label {
  margin: 5px;
  padding: 5px;
}

.booking-widget option.seat:not(:disabled),
.booking-widget option.time-slot:not(:disabled),
.booking-widget option.duration:not(:disabled) {
  min-width: 36px;
  text-align: center;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #10707f;
  border-radius: 3px;
}

.booking-widget .hidden {
  display: none;
}

.booking-widget .form-group > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#booking-widget .widget-title,
#booking-widget {
  font-size: min(max(16px, 2vw), 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#booking-widget .container {
  width: 100%;
}

#booking-widget #booking-form {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#booking-widget #booking-form .form-group {
  margin: 20px;
  width: 100%;
}

#booking-widget input {
  border-radius: 20px;
  border-width: 1px;
  padding: 10px;
  border-style: solid;
  border-color: gray;
}

#booking-widget #book-button {
  border-width: 0px;
  border-radius: 40px;
  padding: 10px 36px;
  background-color: #d49e6b;
  color: #343a40;
  margin: 20px;
  -webkit-transition-property: color, background-color, border-color,
    fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color,
    fill, stroke, -webkit-text-decoration-color;
  -o-transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 150ms;
       -o-transition-duration: 150ms;
          transition-duration: 150ms;
}
#booking-widget #book-button:hover {
  color: white;
  background-color: #203832;
}

#booking-widget #widget-title {
  font-size: 30px;
  font-weight: 100;
}

.booking-widget input[type="radio"] {
  display: none;
}

#booking-widget input[type="radio"] + span {
  color: #343a40;
  border: 2px solid #d49e6b;
  cursor: pointer;
  min-width: 25px;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
  text-wrap: nowrap;
  padding: 3px 25px;
  background-color: #d49e6b;
  -webkit-transition-property: color, background-color, border-color,
    fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color,
    fill, stroke, -webkit-text-decoration-color;
  -o-transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 150ms;
       -o-transition-duration: 150ms;
          transition-duration: 150ms;
}
#booking-widget input[type="radio"] + span:hover {
  background-color: transparent;
  border-color: #203832;
}

#booking-widget input[type="radio"] ~ .WY4uqX {
  display: none;
}

#booking-widget input[type="radio"]:checked + span {
  color: white;
  border-color: #203832;
  background-color: #203832;
}
#booking-widget input[type="radio"] + span:active {
  color: white;
  border-color: #365c51;
  background-color: #365c51;
}

#booking-widget .dialog {
  border-radius: 10px;
}
#booking-widget .dialog button.btn-primary {
  background-color: #d49e6b;
  color: darkgrayslate;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
#booking-widget .booking-widget.card {
  border: none;
}
#booking-widget .card-header {
  color: #343a40;
  background-color: #d49e6b;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
#booking-widget .card-body {
  border-color: #a9a9a9;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border-style: solid;
  border-width: 1px;
}

.wSrZTo .cCdhN7:checked ~ .WY4uqX {
  cursor: pointer;
  display: block;
  height: var(--checkboxSize);
  -webkit-margin-start: var(--checkmarkMargin_start);
          margin-inline-start: var(--checkmarkMargin_start);
  min-width: var(--checkboxSize);
  pointer-events: none;
  position: relative;
}

.wSrZTo .WY4uqX svg {
  fill: rgba(var(--bgc, var(--color_1)), var(--alpha-bgc, 1));
  left: 50%;
  overflow: visible;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
}

.comp-lnohpfiu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
}

.EBYClk {
  margin-left: 10px;
}
